:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --primary-bg-color: #ffffff;


}


body {
    background-color: #fff;
    color: #212121;
    
}

.logo-accent {
    color: var(--accent-color);
}

.logo.primary {
    color: var(--title-text-color);
}

.logo.secondary {
    color: var(--white-color);
}
/* Link */

.site-nav .link.current {
    color: var(--accent-color);
}
 
.link.primary {
    color: var(--title-text-color);
}

.link.secondary {
    color: var(--white-color);
}

.link.primary:hover,
.link.primary:focus {
    color: var(--accent-color);
}

.link.secondary:hover,
.link.secondary:focus {
    color: var(--accent-color);
}
