:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --primary-bg-color: #ffffff;


}


body {
    background-color: #fff;
    color: #212121;
    
}

/* Цвет заголовков текста #212121 */

/* Цвет основного текста #757575 */

/* Белый цвет #FFFFFF */

/* Акцент #2196F3 */

/* Вторичный цвет фона #F5F4FA */

/* Третичный цвет фона #2F303A */

ul {
    list-style: none;
}

.logo-accent {
    color: var(--accent-color);
}

.logo.primary {
    color: var(--title-text-color);
}

.logo.secondary {
    color: var(--white-color);
}
/* Link */

.site-nav .link.current {
    color: var(--accent-color);
}
 
.link.primary {
    color: var(--title-text-color);
}

.link.secondary {
    color: var(--white-color);
}

.link.primary:hover,
.link.primary:focus {
    color: var(--accent-color);
}

.link.secondary:hover,
.link.secondary:focus {
    color: var(--accent-color);
}

/* Main */

.main-title {
    color: var(--white-color);
}

/* Section */
.section-title {
    color: var(--title-text-color)
}

/* Наши преимущества */
.advantages-list .name {

}

/* Button */
.button{
    color: var(--white-color);
    background-color: var(--accent-color);
}

